@import "../../variables/Variables.scss";

.story-wrapper {
  width: 100%;
}
.story-contain {
  display: flex;
  align-items: center;
  color: $blue;
  margin-bottom: 1.8rem;
  &-title {
    font-size: 2rem;
    font-weight: 300;
  }
  .right-icon {
    font-size: 1.6rem;
  }
}
